<div class="container">
  <div class="card mt-3">
      <form class="card-body" #emailFormGroup="ngForm" (ngSubmit)="onSubmit()">
        <label>E-mail</label>
        <input type="email" pattern=".+@.+\..+" required class="form-control"
         #emailFormControl="ngModel"
         name="emailInput"
         [(ngModel)]="email"
         [ngClass]="{'is-invalid': emailFormControl.invalid && emailFormControl.touched}"
        >
        <ng-container *ngIf="emailFormControl.invalid && emailFormControl.touched">
          <div *ngIf="emailFormControl.errors?.['required']" class="invalid-feedback">Please fill in the field</div>
          <div *ngIf="emailFormControl?.errors?.['pattern']" class="invalid-feedback">Invalid Format</div>
        </ng-container>
        <button class="btn btn-primary btn-lg btn-block submit-btn" [disabled]="emailFormGroup.invalid" type="submit">
          Submit
        </button>
      </form>
  </div>
</div>